.container {
  background-color: black;
}

.content {
  border: 5px solid pink;
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: white;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.content p {
  padding: 35px;
  font-size: 25px;
  text-align: left;
}

.img {
  height: 400px;
}
